body {
  background-color: #fff;
  width: 100%;
}

.nav-bar {
  width: 100%;
  height: 40px;
}

.nav-bar-links {
  text-decoration: none;
}

.nav-bar-links li {
  display: inline;
}

.headline {
  background-color: #c0fe61;
}
